head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Julius+Sans+One|Mirza|Raleway&display=swap')
  style.
    body { font-family: "Julius Sans One";}
header
  nav.navbar.navbar-expand.navbar-light.bg-light(role='navigation')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li
          a.nav-link(href='/') Home
        li.active
          a.nav-link(href='/press')
            | Press
            span.sr-only (current)
        li
          a.nav-link(href='/contact') Contact
      ul.navbar-nav
        li.nav
          a.navbar-brand.nav-link(href='https://open.spotify.com/artist/4VSEqckiFLO2SOuSKAlXTv' target='_blank')
            img(src='sites/spotifyCircle.jpg' alt='' style='width:25px;')
        li.nav
          a.navbar-brand.nav-link(href='https://www.youtube.com/watch?v=cLUvtkiaZFA' target='_blank')
            img(src='sites/YT.png' alt='' style='width:25px;')
        li.nav
          a.navbar-brand.nav-link(href='https://www.facebook.com/formingthevoid/' target='_blank')
            img(src='sites/FB.png' alt='' style='width:25px;')
        li.nav
          a.navbar-brand.nav-link(href='https://www.instagram.com/forming_the_void/?hl=en' target='_blank')
            img(src='sites/insta.png' alt='' style='width:25px;')
main(role='main' style='background-color: black;color:silver;')
  .container.pt-5.pb-5
    .row
      .col
        ul.list-unstyled
          li
            h1.display-4.text-center PRESS
          li
            h5.float-right
              | - DOOM CHARTS
            p
              | &quot;It&rsquo;s clear the fans and critics hear something special, and seeing them live in Vegas
              | plus
              | meeting and hanging out with the dudes it&rsquo;s clear they are on the right path.&rdquo;
          li
            h5.float-right
              | - METAL HAMMER
            p
              | &quot;Displaying an elaborate musical tapestry that swirls from devastatingly heavy riffs
              | [...] Rift is very much an organic and elaborate offering from a band whose potential is
              | fast becoming realized.&quot;
          li
            h5.float-right
              | - THE WIRE
            p
              | &quot;Their fourth album Rift is epic in scale, replete with windswept hooks and skyscraping
              | vocals, but it also delivers heavy metal thunder in abundance [...] It&apos;s immense - and
              | immensely satisfying.&quot;
          li
            h5.float-right
              | - CLASSIC ROCK (UK)
            p
              | &ldquo;Forming The Void are set to crush all-comers with this follow up to their much lauded
              | third album Relic.&rdquo;
          li
            h5.float-right
              | - ANGRY METAL GUY
            p
              | &ldquo;Turns out that there&rsquo;s room for a little more worship of The Good Riff after all. Of
              | course, by &ldquo;a little bit more&rdquo; I really &ldquo;packed full&rdquo; of The Good Riff, as Rift takes no
              | shortcuts in terms of hooking the listener in with them.&rdquo;
          li
            h5.float-right
              | - METAL INJECTION
            p
              | &ldquo;Louisiana&rsquo;s Forming the Void is one of stoner metal&rsquo;s best-kept secrets [&mldr;]Any
              | self-respecting fan of stoner, sludge prog, or hell, even grunge, owes it to themselves
              | to give this album a spin. &rdquo;
          li
            h5.float-right
              | - CVLT NATION
            p
              | &ldquo;Melding their influences, which range from Mastodon and The Sword, to Soundgarden and
              | YOB, Forming The Void&rsquo;s riffs summon a sense of adventure.&rdquo;
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
